        body {
            margin: 0;
            font-family: 'Montserrat';
        }
        
        * {
            box-sizing: border-box;
        }
        
        .nav {
            background: rgba(0, 0, 0, 0.50);
            width: 100%;
            height: 11vh;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            z-index: 7;
        }
        
        .nav a {
            color: white;
            padding: 11px 39px;
            font-size: 20px;
            text-decoration: none;
        }
        
        .nav a:hover {
            color: #f7eb2f;
        }
        
        #black-background {
            /* font-family: 'Source Code Pro', monospace; */
            background-image: url(./photos/Black.jpg);
            background-size: cover;
            width: 100%;
            height: 100vh;
            position: relative;
        }
        
        #first-header {
            position: absolute;
            color: #f7eb2f;
            left: 27%;
            font-size: 40px;
            font-weight: 100;
            margin-top: 3%;
        }
        
        #triangle-right {
            position: absolute;
            top: 82%;
            right: 43%;
            padding: 10px 4%;
            background-color: #f7ea2f83;
            border-radius: 50px;
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
            color: black;
        }
        
        #triangle-right:hover {
            background-color: #f7eb2f
        }
        
        #course-photo {
            position: absolute;
            background-size: cover;
            width: 40%;
            top: 25%;
            left: 28%;
        }
        
        main {
            background-image: url(./photos/white.jpg);
            background-size: cover;
            padding: 2% 0%;
            width: 100%;
            height: 100vh;
            position: relative;
            /* font-family: sans-serif; */
        }
        
        #Sat-Arm-photo {
            position: absolute;
            background-image: url(.//photos/team.jpg);
            background-size: cover;
            width: 380px;
            height: 380px;
            background-position: 50% 50%;
            border-radius: 50% !important;
            right: 15%;
            margin-top: 12%;
            -webkit-animation: spin1 8s infinite linear;
            -moz-animation: spin1 8s infinite linear;
            -o-animation: spin1 8s infinite linear;
            -ms-animation: spin1 8s infinite linear;
            animation: spin1 18s infinite linear;
            display: block;
        }
        
        @-webkit-keyframes spin1 {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        
        @-moz-keyframes spin1 {
            0% {
                -moz-transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(360deg);
            }
        }
        
        @-o-keyframes spin1 {
            0% {
                -o-transform: rotate(0deg);
            }
            100% {
                -o-transform: rotate(360deg);
            }
        }
        
        @-ms-keyframes spin1 {
            0% {
                -ms-transform: rotate(0deg);
            }
            100% {
                -ms-transform: rotate(360deg);
            }
        }
        
        @-keyframes spin1 {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        #circle {
            position: absolute;
            width: 290px;
            height: 290px;
            background-color: #f7eb2f;
            border-radius: 50% !important;
            left: 25%;
            top: 18%;
            animation-name: circle;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        
        @-webkit-keyframes circle {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transform-origin: 125% 125%;
                transform-origin: 125% 125%;
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transform-origin: 125% 125%;
                transform-origin: 125% 125%;
            }
        }
        
        #header-about {
            font-size: 70px;
        }
        
        #text-about-team {
            position: absolute;
            width: 40%;
            height: 40vh;
            font-size: 22px;
            margin-top: 12%;
            margin-left: 5%;
            z-index: 2;
            line-height: 35px;
        }
        
        section {
            background-color: #292d33;
            width: 100%;
            height: 110vh;
            position: relative;
            padding: 5% 0%;
            /* font-family: sans-serif; */
        }
        
        section img {
            position: absolute;
            width: 50%;
            height: 80%;
            object-fit: cover;
            margin-left: 5%;
        }
        
        section #about-plan-man {
            position: absolute;
            background-color: rgba(29, 36, 36, 0);
            width: 45%;
            height: 80%;
            background-size: cover;
            object-fit: cover;
            margin-left: 45%;
        }
        
        section #about-plan-man div {
            background-color: white;
            padding: 2%;
            margin: 2%;
        }
        
        section #about-plan-man p {
            line-height: 22px;
        }
        
        section #about-plan-man h2 {
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 4px;
        }
        
        article {
            background-image: url(./photos/white.jpg);
            background-size: cover;
            width: 100%;
            height: 110vh;
            position: relative;
            padding: 5% 0%;
            /* font-family: Montserrat, sans-serif; */
        }
        
        article .img {
            background-image: url(./photos/girls.jpg);
            background-size: cover;
            position: absolute;
            width: 50%;
            height: 80%;
            object-fit: cover;
            margin-left: 39%;
        }
        
        article #about-plan-Satenik {
            position: absolute;
            /* background-color: rgba(29, 36, 36, 0); */
            width: 45%;
            height: 80%;
            background-size: cover;
            object-fit: cover;
            margin-left: 4%;
            margin-top: 2%;
        }
        
        article #about-plan-Satenik div {
            background-color: white;
            padding: 2%;
            margin: 2%;
        }
        
        article #about-plan-Satenik p {
            line-height: 22px;
        }
        
        article #about-plan-Satenik h2 {
            font-weight: 600;
            font-size: 24px;
            /* letter-spacing: 4px; */
        }
        
        .first-footer {
            background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./photos/first-footer-photo.jpg);
            background-size: cover;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* font-family: 'Open Sans', sans-serif; */
            font-weight: bold;
        }
        
        .first-footer div .long-line {
            width: 45%;
            height: 15px;
            background-color: #f7eb2f;
            border-radius: 20px;
        }
        
        .first-footer div {
            background-color: rgba(0, 0, 0, 0);
            width: 40%;
            color: white;
        }
        
        .first-footer .first-div {
            align-self: flex-end;
        }
        
        .first-footer div p {
            font-size: 20px;
            /* letter-spacing: 3px; */
            /* word-spacing: 3px; */
            line-height: 35px;
            font-weight: 500;
        }
        
        .first-footer div h2 {
            color: #f7eb2f;
            font-size: 40px;
            font-family: 'Source Code Pro', monospace;
        }
        
        #second-footer {
            background-image: url(./photos/white.jpg);
            background-size: cover;
            width: 90%;
            height: 100vh;
            display: flex;
            padding: 5%;
            font-family: 'Source Code Pro', monospace;
        }
        
        #second-footer .footer-photo {
            background-image: url(./photos/head.jpg);
            background-size: cover;
            width: 50%;
            height: 100%;
            font-family: Oswald, sans-serif !important;
        }
        
        #second-footer .footer-form {
            background-color: #292d33;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 2% 4% 1% 4%;
        }
        
        #second-footer .footer-form h1 {
            font-size: 50px;
            color: #f7eb2f;
        }
        
        #second-footer .footer-form input {
            padding: 3%;
            margin-bottom: 5%;
            background-color: #292d33;
            border: none;
            border-bottom: 2px solid white;
            color: aliceblue;
        }
        
        #second-footer .footer-form input::placeholder {
            font-size: 18px;
        }
        
        #second-footer textarea {
            margin-bottom: 5%;
        }
        
        #second-footer textarea::placeholder {
            font-size: 18px;
            font-weight: 900;
        }
        
        #second-footer textarea {
            background-color: #292d33;
            border: none;
            border-bottom: 2px solid white;
            resize: vertical;
            padding: 3%;
            color: aliceblue;
        }
        
        #second-footer button {
            width: 18%;
            padding: 3% 0%;
            background-color: #f7eb2f;
            border: none;
            font-size: 18px;
            font-weight: bold;
            border-radius: 50px;
        }
        
        #second-footer button:hover {
            background-color: #f7ea2f83;
            color: white;
        }
        
        .third-footer {
            width: 100%;
            height: 44vh;
            background-color: #292d33;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .third-footer div {
            color: gray !important;
            font-size: 25px;
        }
        
        .third-footer p {
            color: #f7eb2f;
            font-size: 15px;
        }
        
        .third-footer a {
            color: #f7eb2f;
        }
        
        .third-footer a:hover {
            color: #f7ea2f83;
        }
        
        .third-footer div i:hover {
            color: #f7eb2f;
            font-size: 50px;
        }