body {
    margin: 0;
}

div {
    background-image: url(./Black.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#first-header {
    position: absolute;
    color: #f7eb2f;
    padding-top: 7%;
    padding-left: 30%;
}

#triangle-right {
    position: absolute;
    top: 80%;
    right: 35%;
    padding: 1% 4%;
    background-color: #f7eb2f;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

#triangle-left {
    position: absolute;
    top: 80%;
    left: 35%;
    padding: 1% 4%;
    background-color: #f7eb2f;
    border: none;
    font-weight: bold;
    font-size: 20px;
}